<% if alert || notice %>
    <div class="<%= alert ? 'alert alert-warning' : 'alert alert-success' %> alert-dismissible fade show mx-2 my-3" role="alert">
        <strong><%= alert ? 'Warning!' : 'Correct!' %></strong> <%= alert || notice %>
        <button id="botonCerrar" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" class="alert-close-button"></button>
    </div>

    <script>
        setTimeout(() => { document.getElementById('botonCerrar').click(); }, 3500);  
    </script>
<% end %>

<div class="ms-2 mt-1">
  <h1 id="namePage">Collections</h1>
  <%= link_to "New Collection", new_collection_path, class: "btn color_button_green fw-semibold mb-3" %>
</div>

<div class="row m-0">
  <% @collections.each_slice(4) do |collection_batch| %>
    <% collection_batch.each do |collection| %>
      <div class="col-md-3 mt-1 mb-3">
        <div class="card color_card box-shadow">
          <div class="card-body text-center">
            <h5 class="card-title"><%= collection.name %></h5>
            <%= link_to "Edit", edit_collection_path(collection), class: "btn color_button_green fw-semibold mb-3 ms-2" %>
            <button onclick="createToastConfirm('collection',false,'<%= collection.id %>')" class="btn color_button_brown fw-semibold mb-3 ms-2">Delete</button>
            <% if collection.sharing[:shared] %>
              <button onclick="shareContent('<%= collection.sharing[:id] %>', 'edit')" class="btn color_button_green fw-semibold mb-3 ms-2">Share</button>
            <% else %>
              <button onclick="shareContent('<%= collection.id %>', 'new')" class="btn color_button_green fw-semibold mb-3 ms-2">Share</button>
            <% end %>
            <hr class="mt-0">
            <h6>Notes:</h6>
            <% collection.notes.each do |note| %>
              <p class="card-text">
                <%= link_to note.title, note_path(note), class: "btn color_button_notes btn-sm fw-semibold w-100" %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="ms-2 mt-1">
  <h3>Collections Shared</h3>
</div>

<div class="row m-0">
  <% @collections_shared.each_slice(4) do |collection_shared_batch| %>
    <% collection_shared_batch.each do |collection| %>
      <div class="col-md-3 mt-1 mb-3">
        <div class="card color_card box-shadow">
          <div class="card-body text-center">
            <h5 class="card-title"><%= collection.name %></h5>
            <hr>
            <h6>Notes:</h6>
            <% collection.notes.each do |note| %>
              <p class="card-text">
                <%= link_to note.title, note_path(note), class: "btn color_button_notes btn-sm fw-semibold w-100" %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<button class="d-none" data-bs-toggle="modal" data-bs-target="#modalShare" id="buttonModalShare"></button>
<div class="modal fade" id="modalShare" tabindex="-1" aria-labelledby="modalShareLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="modalShareLabel">Who do you want to share?</h3>
        <button id="modalClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="contentSharing">

      </div>
    </div>
  </div>
</div>