<!-- app/views/notes/edit.html.erb -->
<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center mb-3">Edit Note</h2>

      <div id="error" class="text-danger mb-3 text-center">
        <% if @note.errors.any? %>
          <% @note.errors.full_messages.each do |message| %>
            <p><%= message %></p> 
          <% end %>            
        <% end %>
      </div>

      <div id="fixed-buttons-container">
        <div class="field mb-3 text-center">
          <button type="button" onclick="addContentType('text')" class="btn color_button_green fw-semibold">Add Text</button>
          <button type="button" onclick="addContentType('list')" class="btn color_button_green fw-semibold">Add List</button>
          <button type="button" onclick="addContentType('file')" class="btn color_button_green fw-semibold">Add Image</button>
        </div>
      </div>

      <%= form_with(model: @note, html: { multipart: true }, local: true) do |form| %>

        <div class="field">
          <strong>Seleccione las colecciones asociadas:</strong><br>
          <% @collections.each do |collection| %>
            <% collection_notes = collection.notes.map { |note_id| Note.find(note_id) } %>
            <% collection_notes_ids = collection_notes.map { |note| note.id.to_s } %>
    
            <% Rails.logger.info(collection_notes_ids) %>
            
          <% end %>
        </div>
      
        <div class="field mb-3">
          <%= form.label :title, class:'form-label'%>
          <%= form.text_field :title, class: 'form-control', rows:'3'%>
        </div>
        
        <% if @note.content.present? %>
          <% @note.content.each_with_index do |content_string, index| %>
            <% item = JSON.parse(content_string)%>
              <% if item['type'] == 'text' %>
                <div class="field mb-3">
                  <%= label_tag 'Text', 'Text', class: 'form-label' %>
                  <%= hidden_field_tag "note[content][][type]", 'text' %>
                  <%= text_area_tag "note[content][][value]", item['value'], class: 'form-control', rows: '3' %>
                </div>
              <% elsif item['type'] == 'list' %>
                <div class="field mb-3">
                  <%= label_tag 'List', 'List', class: 'form-label' %>
                  <%= hidden_field_tag "note[content][][type]", 'list' %>
                  <% item['value'].split(';').each do |list_item| %>
                    <%= text_field_tag "note[content][][value][]",list_item, class:'form-control list-input mb-1' %>
                  <% end %>
                  <%= text_field_tag 'note[content][][value][]', nil, class: 'form-control list-input mb-1', placeholder: 'Add another item', oninput: 'checkInput(this)' %>
                </div>
              <% elsif item['type'] == 'file' %>
                <div class="field mb-3">
                  <%= label_tag 'File', 'File', class: 'form-label' %>
                  <%= hidden_field_tag "note[content][][type]", 'file' %>
                  <div class="card-group mb-3">
                    <div class="card color_card">
                      <div class="card-body">
                        <div class="text-center"> 
                          <img src=<%= item['value'] %> style="width: 150px; height: 150px;">
                          <%= hidden_field_tag "note[content][][value]", item['value'] %>
                        </div>

                        <div class="form-group">
                          <%= label_tag 'Replace image', 'Replace image', class: 'form-label' %>
                          <%= hidden_field_tag "note[images_to_update][][index]", "#{index}" %>
                          <%= file_field_tag "note[images_to_update][][value]", class: 'form-control' %>
                        </div>

                        <div class="form-check mt-3">
                          <%= check_box_tag "note[images_to_delete][]", item['value'], false, class: 'form-check-input'%>
                          <%= label_tag "image_to_delete", "Delete image", class: 'form-check-label' %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
          <% end %>
        <% end %>

        <div id="contentContainer">
          <!-- Los campos se añadirán aquí -->
        </div>

        <div class="actions mb-3 text-center">
          <%= form.submit "Update Note", class: 'btn color_button_green fw-semibold' %>
          <%= link_to 'Go Back', notes_path, class: 'btn color_button_brown fw-semibold'  %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'fixed' %>