<% if alert || notice %>
    <div class="<%= alert ? 'alert alert-warning' : 'alert alert-success' %> alert-dismissible fade show mx-2 my-3" role="alert">
        <strong><%= alert ? 'Warning!' : 'Correct!' %></strong> <%= alert || notice %>
        <button id="botonCerrar" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" class="alert-close-button"></button>
    </div>

    <script>
        setTimeout(() => { document.getElementById('botonCerrar').click(); }, 3500);
    </script>
<% end %>

<h1 class="ms-2" id="namePage">Notes</h1>

<div class="row m-0 p-0 mb-4">
    <div class="col-12 col-md-3">
        <ul class="list-group">
            <li class="decoration-none"> <%= link_to 'New Note', new_note_path, class:'btn color_button_green fw-semibold w-100 mb-2' %></li>
            <% @notes.each do |note| %>
                <% if @browser.device.mobile? %>
                    <li class="list-group-item color_card">
                        <% if note.title.blank? %>
                            <a href="<%= note_path(note) %>" class="btn p-2 w-100"></a>
                        <% else %>
                            <a href="<%= note_path(note) %>" class="btn p-0 w-100"><%= note.title %></a>
                        <% end %>
                    </li>
                <% else %>
                    <li class="list-group-item listSelected color_card" onclick="showNote('<%= note.id %>')">
                        <% if note.title.blank? %>
                            <span class="p-2"></span>
                        <% else %>
                            <%= note.title %>
                        <% end %>
                    </li>
                <% end %>
            <% end %>
        </ul>
    </div>
    <div class="col-12 col-md-9 d-none" id="fatherContent">
        <div class="card color_card box-shadow">
            <div class="card-body" id="content">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalShare" tabindex="-1" aria-labelledby="modalShareLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="modalShareLabel">Who do you want to share?</h3>
        <button id="modalClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="contentSharing">

      </div>
    </div>
  </div>
</div>