<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center mb-3">New Note</h2>

      <% if @note.errors.any? %>
        <div id="error" class="text-danger mb-3 text-center">
          <% @note.errors.full_messages.each do |message| %>
            <p class="pb-2 fw-semibold"><%= message %></p> 
          <% end %>     
        </div>       
      <% end %>
      
      <div id="fixed-buttons-container">
        <div class="field mb-2 text-center">
          <button type="button" onclick="addContentType('text')" class="btn color_button_green fw-semibold">Add Text</button>
          <button type="button" onclick="addContentType('list')" class="btn color_button_green fw-semibold">Add List</button>
          <button type="button" onclick="addContentType('file')" class="btn color_button_green fw-semibold">Add Image</button>
        </div>
      </div>

      <%= form_with model: @note, html: { multipart: true } do |form| %>
        
        <div class="field mb-2">
          <%= form.label :title, class:'form-label' %>
          <%= form.text_field :title, class: 'form-control', placeholder:'Any title you want to add to the note' %>
        </div>
        
        <div id="contentContainer">
          <!-- Los campos se añadirán aquí -->
        </div>

        <div class="actions mb-3 text-center">
          <%= form.submit class: 'btn color_button_green fw-semibold' %>
          <%= link_to 'Go Back', notes_path, class: 'btn color_button_brown fw-semibold'  %>
        </div>
      <% end %>
    </div>
  </div>
</div>