<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center mb-3">New Note</h2>

      <%= form_with(model: @note, local: true) do |form| %>
        <div id="error" class="text-danger mb-3 text-center">
          <% if @note.errors.any? %>
            <script>
              document.getElementById("text").setAttribute("style","border-color: red");
              document.getElementById("list").setAttribute("style","border-color: red");
              document.getElementById("image").setAttribute("style","border-color: red");
            </script>

            <% @note.errors.full_messages.each do |message| %>
              <p><%= message %></p> 
            <% end %>            
          <% end %>
        </div>

        <div class="field mb-3">
          <%= form.label :text, class:'form-label' %>
          <%= form.text_area :text, class: 'form-control', rows:'3', id:'text', placeholder:'Any text you want to add to the note' %>
        </div>

        <div class="field mb-3">
          <%= form.label :list, class:'form-label' %>
          <%= form.text_area :list, class: 'form-control', rows:'2', id:'list', placeholder:'The list is created by separating with spaces'  %>
        </div>

        <div class="field mb-3">
          <%= form.label :images, class:'form-label' %>
          <%= form.file_field :images, multiple: true, class: 'form-control', id:'image', accept: 'image/*' %>
        </div>

        <div class="actions mb-3 text-center">
          <%= form.submit class: 'btn color_button_green fw-semibold' %>
          <%= link_to 'Go Back', notes_path, class: 'btn color_button_brown fw-semibold'  %>
        </div>
      <% end %>
    </div>
  </div>
</div>