
<div class="container mt-2 mb-5">
    <h2 class="text-center mb-3">Login</h2>
    <div class="border rounded d-md-flex justify-content-center w-75 m-auto color_card box-shadow">
        <div class="d-block d-md-inline text-center m-auto">
            <img class="d-inline d-lg-none iniciarSesion" alt="" src="<%= asset_path 'iniciarSesion.png' %>">
            <img class ="d-none d-lg-inline"alt="" src="<%= asset_path 'iniciarSesion.png' %>">
        </div>
        <div class="d-block d-md-inline card-body p-3 mt-0 mt-md-4">
            <% if flash[:alert] %>
                <div id="error" class="text-danger mb-3 text-center">
                    <p class="pb-2 fw-semibold"><%= flash[:alert] %>
                </div>
            <% end %>
            <%= form_tag("/login", method: "post") do %>
                <div class="field mb-3">
                    <%= label_tag :email, 'Email' ,class:"form-label" %>
                    <%= text_field_tag :email, params[:email], class: "form-control #{'error_form' if @email_error}" %>
                </div>
                <div class="field mb-3">
                    <%= label_tag :password, 'Password', class:"form-label" %>
                    <%= password_field_tag :password, params[:password], class: "form-control #{'error_form' if @password_error}" %>
                </div>
                <div class="field text-center">
                    <a href="/signup" class="fw-semibold">Don't have an account yet? Sign up</a>
                </div>
                <div class="actions text-center">
                    <%= submit_tag "Log in", class:"btn color_button_green fw-semibold mt-3 mb-4 w-50" %>
                </div>
            <% end %>
        </div>
    </div>
</div>

