<% is_admin = local_assigns[:is_admin] || false %>

<%= form_with(model: is_admin ? [:admin, friendship] : friendship) do |form| %>
  <div class="row">
    <% if is_admin %>
        <div class="col-6">
          <%= form.label :user_id, "Choose one friend:" %>
          <input class="form-control mt-2 <%= 'error_form' if flash[:alert].present? %>" id="inputFriendship_one" type="text" placeholder="Search...">
          <ul class="list-group search_max mt-1 text-start" id="listFriendship_one">
          <% @users.each do |user| %>
            <li class="list-group-item">
              <div class="form-check mb-0">
                <%= radio_button_tag :friend_one, user.id, false, id: "friend_#{user.id}", class: "form-check-input" %>
                <%= label_tag "friend_#{user.id}", user.name.capitalize, class: "form-check-label" %>             
              </div>
              <small class="text-muted"><%= user.email %></small>
            </li>
          <% end %>
        </div>
        <div class="col-6">
    <% else %>
      <div class="col-12">
    <%end%>
        <%= form.label :friend_id, "Choose a Friend:" %>
        <input class="form-control mt-2 <%= 'error_form' if flash[:alert].present? %>" id="inputFriendship" type="text" placeholder="Search...">
        <ul class="list-group search_max mt-1 text-start" id="listFriendship">
            <% @users.each do |user| %>
              <li class="list-group-item">
                <div class="form-check mb-0">
                  <%= radio_button_tag :friend, user.id, false, id: "friend_#{user.id}", class: "form-check-input" %>
                  <%= label_tag "friend_#{user.id}", user.name.capitalize, class: "form-check-label" %>             
                </div>
                <small class="text-muted"><%= user.email %></small>
              </li>
            <% end %>
      </div>
  </div>
  <%= form.submit "Add Friend", class: 'btn color_button_green fw-semibold my-3' %>
<% end %>
