<% if notice %>
  <div class="alert alert-success alert-dismissible fade show mx-2 my-3" role="alert">
    <strong>Correct!</strong> <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="botonCerrar"></button>
  </div>

  <script>
    setTimeout(() => { document.getElementById('botonCerrar').click(); }, 3500);        
  </script>
<% end %>

<div class="ms-2 mt-1">
  <h1>Friendships</h1>
  <%= link_to "New friendship", new_friendship_path, class: "btn color_button_green fw-semibold mb-3" %>
</div>

<h5 class="ms-2">Friendship Requests</h5>
<div class="row m-0">
  <% @friendship_requests.each do |friendship| %>
    <div class="col-md-3 mt-1 mb-3">
      <div class="card" id="friendship_<%= friendship[:id] %>">
        <div class="card-body text-center">
          <% if friendship[:friend] %>
            <h5 class="card-title"><%= friendship[:friend].name %></h5>
            <% if friendship[:status] == 'pending' %>
              <button onclick="acceptFriendship(false, '<%= friendship[:id] %>')" class="btn color_button_green fw-semibold mb-3 ms-2">Accept</button>
              <button onclick="deleteFriendship(false, '<%= friendship[:id] %>')" class="btn color_button_brown fw-semibold mb-3 ms-2">Reject</button>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<h5 class="ms-2 mt-2">Friendships</h5>
<div class="row m-0">
  <% @friendships.each_slice(4) do |friendship_batch| %>
    <% friendship_batch.each do |friendship| %>
      <div class="col-md-3 mt-1 mb-3">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title"><%= friendship[:friend].name %></h5>
            <button onclick="deleteFriendship(false,'<%= friendship[:id] %>')" class="btn color_button_brown fw-semibold mb-3 ms-2">Delete</button>
            <hr class="mt-0">
            <h6>Notes:</h6>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
