<h1 class="ms-2">Friendships</h1>

<% if notice %>
    <div class="alert alert-success alert-dismissible fade show mx-2 my-3" role="alert">
        <strong>Correct!</strong> <%= notice %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="botonCerrar"></button>
    </div>

    <script>
        setTimeout(() => { document.getElementById('botonCerrar').click(); }, 3500);       
    </script>
<% end %>

<div class="row m-0 p-0">
  <div class="col-12">
    <div class="d-flex justify-content-between align-items-center">
      <div class="flex-grow-1">
        <%= link_to 'New Frienship', new_admin_friendship_path, class: 'btn color_button_green fw-semibold mb-3' %>
      </div>
      <div>
        <%= link_to 'Go Back', admin_path, class: 'btn color_button_brown fw-semibold mb-3' %>
      </div>
    </div>
    <input id="tableContentTDs" type="text" class="form-control mb-3" placeholder="Search by Friends...">
    <div class="table-responsive">
      <table class="table color_card border rounded box-shadow">
        <thead>
          <tr>
            <th scope="col">
              <label class="d-none d-md-table-cell">Friend 1</label>
              <label class=" d-table-cell d-md-none">Friends</label>
            </th>
            <th scope="col" class="d-none d-md-table-cell">Friend 2</th>
            <th scope="col" class="d-none d-md-table-cell">Status</th>
            <th scope="col" class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody id="contentTable">
          <% @friendships.each do |friend| %>
            <tr>
              <td id="tdSearch1">
                <p class="mb-2"><%= friend[:user].email %></p>
                <p class=" d-table-cell d-md-none"><%= friend[:friend].email %></p>
              </td>
              <td id="tdSearch2" class="d-none d-md-table-cell"><%= friend[:friend].email %></td>
              <td class="d-none d-md-table-cell"><%= friend[:status] %></td>
              <td class="text-center">
                <%= link_to 'Show', admin_friendship_path(friend[:id]), class: 'btn color_button_green fw-semibold mx-1 mt-1 my-mt-0' %>
                <button onclick="createToastConfirm('friendship',true,'<%= friend[:id] %>')" class="btn color_button_brown fw-semibold mx-1 mt-1 my-mt-0">Delete</button>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

