<h1 class="ms-2">Notes</h1>

<% if notice %>
    <div class="alert alert-success alert-dismissible fade show mx-2 my-3" role="alert">
        <strong>Correct!</strong> <%= notice %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="botonCerrar"></button>
    </div>

    <script>
        setTimeout(() => { document.getElementById('botonCerrar').click(); }, 3500);       
    </script>
<% end %>

<div class="row m-0 p-0">
  <div class="col-12">
    <div class="d-flex justify-content-between align-items-center">
      <div class="flex-grow-1">
        <%= link_to 'New Note', new_admin_note_path, class: 'btn color_button_green fw-semibold mb-3' %>
      </div>
      <div>
        <%= link_to 'Go Back', admin_path, class: 'btn color_button_brown fw-semibold mb-3' %>
      </div>
    </div>
    <input id="tableContentTD" type="text" class="form-control mb-3" placeholder="Search by Title...">
    <div class="table-responsive">
      <table class="table color_card border rounded box-shadow">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col" class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody id="contentTable">
          <% @notes.each do |note| %>
            <tr>
              <td id="tdSearch"><%= note.title.presence || "No Title" %></td>
              <td><%= "#{note.content&.length || 0} items." %></td>
              <td class="text-center">
                <%= link_to 'Show', admin_note_path(note), class: 'btn color_button_brown fw-semibold mx-1 mt-1 my-mt-0' %>
                <%= link_to 'Edit', edit_admin_note_path(note), class: 'btn color_button_green fw-semibold mx-1 mt-1 my-mt-0' %>
                <button onclick="createToastConfirm('note', true,'<%= note.id %>')" class="btn color_button_brown fw-semibold mx-1 mt-1 my-mt-0">Delete</button>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
