<div class="container mt-2">
  <div class="row justify-content-center">
    <h3 class="text-center mb-3">User</h3>
    <div class="col-md-8">
      <div class="row">
        <div class="col-auto me-auto">
          <%= link_to 'Edit',edit_admin_user_path(@user), class: 'btn color_button_green fw-semibold mb-3' %>
          <button onclick="createToastConfirm('user',true,'<%= @user.id %>')" class="btn color_button_brown fw-semibold mb-3 ms-2">Delete</button>
        </div>
        <div class="col-auto">
          <%= link_to 'Go Back', admin_users_path, class: 'btn color_button_brown fw-semibold' %>
        </div>
      </div>
      <div class="container border rounded color_card box-shadow mb-5">
        <div class="form-group mt-3">
          <label class="fw-semibold">Name:</label>
          <span class="form-control underline" disabled><%= @user.name.capitalize %></span>
        </div>
        <div class="form-group">
          <label class="fw-semibold">Email:</label>
          <span class="form-control underline" disabled><%= @user.email %></span>
        </div>
        <div class="form-group">
          <label class="fw-semibold">Password:</label>
          <span class="form-control underline" disabled><%= @user.password.present? ? "Yes" : "No" %></span>
        </div>
        <div class="form-group">
          <label class="fw-semibold">Role:</label>
          <span class="form-control underline" disabled><%= @user.role %></span>
        </div>
        <div class="form-group">
          <label class="fw-semibold">Created At:</label>
          <span class="form-control underline" disabled><%= @user.created_at %></span>
        </div>
        <div class="form-group">
          <label class="fw-semibold">Updated At:</label>
          <span class="form-control underline" disabled><%= @user.updated_at %></span>
        </div>
      </div>
    </div>
  </div>
</div>