<%= form_tag("/sharing_update/#{@sharing.id}", method: "post") do %>
    <div class="row">
        <div class="col-12">
            <input class="form-control mt-2" id="inputContent" type="text" placeholder="Search..." onkeyup="filterSharing(event)">
            <ul class="list-group search_max mt-1 text-start" id="listContent">
                <% @friendships.each do |friendship| %>
                    <% friend = friendship[:friend] %>
                    <li class="list-group-item">
                    <div class="form-check mb-0 p-0">
                        <%= check_box_tag 'sharing[shared_with][]', friend[:_id], @friendship_shared.include?(friend[:_id].to_s) %>
                        <%= label_tag "friend_#{friend[:_id]}", friend[:name] %>
                    </div>
                    <small class="text-muted"><%= friend[:email] %></small>
                    </li>
                <% end %>              
            </ul>
        </div>
        <div class="text-center">
            <%= submit_tag "Sharing", class:"btn color_button_green fw-semibold mt-3 mb-4 me-2" %>
            <a class="btn color_button_brown fw-semibold mt-3 mb-4" onclick="shareDelete('<%= @sharing.id %>')">Delete</a>
        </div>
    </div>  
<% end %>

