<% if @friendships.empty? %>
    <div class="text-center">
        <h4 class="text-muted">No friendships <i class="bi bi-people-fill"></i></h4>
        <p>Start adding <a href="<%= new_friendship_path %>">friends</a> to share your content</p>
    </div>
<% else %>
    <h6 class="text-muted text-center">Who do you want?</h6>

    <%= form_tag("/sharing_create", method: "post") do %>
        <input type="hidden" name="shareable_id" value="<%= @object %>">
        <div class="row">
            <div class="col-12">
                <input class="form-control mt-2" id="inputContent" type="text" placeholder="Search..." onkeyup="filterSharing(event)">
                <ul class="list-group search_max mt-1 text-start" id="listContent">
                    <% @friendships.each do |friendship| %>
                        <% friend = friendship[:friend] %>
                        <li class="list-group-item">
                            <div class="form-check mb-0 p-0">
                                <%= check_box_tag 'sharing[shared_with][]', friend[:_id], false %>
                                <%= label_tag "friend_#{friend[:_id]}", friend[:name] %>
                            </div>
                            <small class="text-muted"><%= friend[:email] %></small>
                        </li>
                    <% end %>              
                </ul>
            </div>
            <div class="text-center">
                <%= submit_tag "Sharing", class:"btn color_button_green fw-semibold mt-3 mb-4 w-100" %>
            </div>
        </div>  
    <% end %>
<% end %>